@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Bebas+Neue&family=Belanosima:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Bacasime Antique', serif;
    --fonte3: 'Caprasimo', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    
}

html, body {
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: rgb(218, 168, 168);
    text-align: center;

}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte1);
    
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration:underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw; /*Não é a melhor maneira, mas para iniciante é o ideal -
    valor que se adapta a tela*/

}

section > p{

    padding-bottom: 2em;
    
}

section.normal {
    background-color: rgb(218, 168, 168);
    color: black;
}


section.imagem {
    background-color: rgba(7, 6, 6, 0.39);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.219);
    background-size: cover;
    background-attachment: fixed; /*Efeito parallax - dá a impresão de que os objetos ou pessoas estão em movimento*/
}

section.imagem > p{
    width: 400px;
    background-color: rgba(8, 8, 8, 0.39);
    text-shadow: 1px 1px 0px black;
}

section#img01{

background-image: url('../imagens/img01.jpg');
background-position: right center;


}

section#img02{

    background-image: url(../imagens/img02.jpg);
    background-position: right bottom;
    

}

footer{
    background-color: black;
    color: rgb(218, 168, 168);
    text-align: center;
    padding: 10px;
    }
